body {
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    font-family: 'Open Sans', sans-serif;
    color: #fff; /* Text color for the whole page */
}

header {
    background-color: #0074D9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
    padding: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.submit-button,
.button {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    background-color: #1E1E1E;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0074D9;
    color: #fff;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0074d95f;
    color: #fff;
    transition: background-color 0.3s;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Add margin to the bottom of the table */
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #555; /* Add a border between rows */
}

th {
    font-size: 24px;
    background-color: #0074D9; /* Header background color */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #1E1E1E; /* Alternate row background color */
}

#totalAttendees {
    padding: 5px;
    background-color: #1E1E1E;
    color: #fff;
    border-radius: 8px;
    display: inline-block;
    margin-left: 10px;
}

.code-container {
    background-color: #333; /* Background color for the code container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.small-text {
    font-size: 14px; /* Smaller font size for the "Current code" and timer text */
    color: #ccc; /* Change the text color for better visibility */
}

.code {
    font-size: 24px; /* Larger font size for the code */
    color: #0074D9; /* Change the code color to make it more visible */
}

.hidden {
    display: none;
}