<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Submit Attendance Code</title>
</head>
<body>
    <header>
        <h1>{{ student.f_name }} {{ student.l_name }}, submit the Attendance Code for {{ course_name }}, Semester {{ semester }}: Session {{ session_number }}</h1>
    </header>
    <div class="container">
        <form id="attendanceForm">
            <input type="hidden" name="course_name" id="course_name" value="{{ course_name }}">
            <input type="hidden" name="session" id="semester" value="{{ semester }}">
            <input type="hidden" name="session_number" id="session_number" value="{{ session_number }}">
            <input type="hidden" name="student_id" id="student_id" value="{{ student.student_id }}">
            <label for="codeInput" class="small-text">Input code:</label>
            <input type="text" id="codeInput" name="code" placeholder="Enter code" pattern="[A-Za-z0-9]{6}" required>
            <button type="submit" class="button">Submit</button>
        </form>
        <div id="successMessage" class="message hidden">Attendance verified successfully. Redirecting to home page...</div>
        <div id="errorMessage" class="message hidden">Error: Code is not correct.</div>
        <div id="invalidMessage" class="message hidden">Error: Attendance is not being taken.</div>
    </div>
    <script>    
        document.getElementById('attendanceForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const codeInput = document.getElementById('codeInput');
            const successMessage = document.getElementById('successMessage');
            const errorMessage = document.getElementById('errorMessage');
            const invalidMessage = document.getElementById('invalidMessage');
            
            // Get the code and session information from the hidden inputs
            const code = codeInput.value;
            const courseName = document.getElementById('course_name').value;
            const semester = document.getElementById('semester').value;
            const sessionNumber = document.getElementById('session_number').value;
            const studentId = document.getElementById('student_id').value;

            // Make a POST request to check_attendance API
            fetch('https://checked-functionapp.azurewebsites.net/api/CodeCheck?code=CyCrqgkV0mEzxlAKhOXnRd0oxmnbyi5GCPyKd0AzKrpLAzFuNsF4DA==', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    course_name: courseName,
                    course_semester: semester,
                    session_number: sessionNumber,
                    student_id: studentId,
                    code: code
                })
            })
            .then(response => {
                if (response.status === 200) {
                    successMessage.classList.remove('hidden');
                    errorMessage.classList.add('hidden');
                    setTimeout(() => {
                        window.location.href = '/student_page';
                    }, 3000);
                } else {
                    successMessage.classList.add('hidden');
                    errorMessage.classList.remove('hidden');
                }
            })
            .catch(error => {
                console.error('Error verifying attendance: ' + error);
                // Show error message
                errorMessage.classList.remove('hidden');
            });
        });
    </script>
</body>
</html>