<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Checked</title>
</head>
<body>
    <header>
        <h1>Hi Student, Please select your course and session</h1>
    </header>
    <div class="container">

        <input type="hidden" name="selected_course" id="selected-course" value="">
        <input type="hidden" name="selected_session" id="selected-session" value="">

        <label for="course-names">Course Title:</label>
        <select class="button" name="course-names" id="course-names">
            <option value="" selected disabled>Select Course</option>
            {% for course in courses %}
                <option value="{{ course.course_name }};{{ course.semester }}">
                    {{ course.course_name }}, Semester {{ course.semester }}
                </option>
            {% endfor %}
        </select>

        <label for="course-codes">Session Number:</label>
        <select class="button" name="session-number" id="session-number">
            <option value="" selected disabled>Select Session</option>
            <!-- This part will be populated dynamically based on the selected course -->
        </select>

        <button type="submit" class="submit-button" id="show_code"> Submit </button>
    </div>
    <div class="container">
        <input type="hidden" name="selected_student" id="selected-student" value="">

        <label for="student-names">Student Name:</label>
        <select class="button" name="student-names" id="student-names">
            <option value="" selected disabled>Select Student</option>
            {% for student in students %}
                <option value="{{ student.student_id }}">
                    {{ student.f_name }} {{ student.l_name }}
                </option>
            {% endfor %}
    </div>
    <script>
        const courseDropdown = document.getElementById('course-names');
        const sessionDropdown = document.getElementById('session-number');
        const studentDropdown = document.getElementById('student-names');
        const selectedCourseInput = document.getElementById('selected-course');
        const selectedSessionInput = document.getElementById('selected-session');
        const selectedStudentInput = document.getElementById('selected-student');

        courseDropdown.addEventListener('change', function () {
            const selectedCourse = courseDropdown.value;
            fetch(`/get_sessions?course=${selectedCourse}`)
                .then(response => response.json())
                .then(sessions => {
                    sessionDropdown.innerHTML = '';
                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.textContent = 'Select Session';
                    defaultOption.selected = true;
                    defaultOption.disabled = true;
                    sessionDropdown.appendChild(defaultOption);
                    sessions.forEach(session => {
                        const option = document.createElement('option');
                        option.value = session.number;
                        option.textContent = `Session ${session.number}`;
                        sessionDropdown.appendChild(option);
                    });
                });
        });

        document.getElementById('show_code').addEventListener('click', function () {
            const selectedCourse = courseDropdown.value;
            const course_name = selectedCourse.split(';')[0];
            const semester = selectedCourse.split(';')[1];
            const selectedSession = sessionDropdown.value;
            const selectedStudentId = studentDropdown.value;

            location.href = `/submit_attendance?course_name=${course_name}&semester=${semester}&session=${selectedSession}&student_id=${selectedStudentId}`;
        });
    </script>
</body>
</html>
