<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        /* Add centering styles for the table */
        .centered-table {
            margin: 0 auto; /* Center the table horizontally */
            width: 80%; /* Adjust the width as needed */
        }
    </style>
    <title>Verify Attendance</title>
</head>
<body>
    <header>
        <h1> Attendance List for "{{ course_name }}, Semester {{ semester }}: Session {{ session_number }}"</h1>
    </header>
    <div class="container">
        <h2>Attendees</h2>
        <table class="centered-table">
            <thead>
                <tr>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody id="attendeesTable">
                {% for attendance in attendees %}
                    <tr>
                        <td>{{ attendance.student.f_name }} {{ attendance.student.l_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Total Attendees: <span id="totalAttendees">{{ attendees|length }}</span></h2>
        <br>
        <a href="{{ url_for('professor_page')}}" class="button"> Go Back to Professor Main Menu </a>
        <a href="{{ url_for('submit_class_professor')}}" class="button"> Generate Code for Another Session </a>
        <a href="{{ url_for('verify_attendance_select')}}" class="button"> Select Another Session to Verify Attendance </a>
    </div>
</body>
</html>
